#why-choose-us{
    height: 250px;
 
    display: flex;
    background-color:#0e70a1;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.topContent{
    background-color: white;
}
#salient-features{
 
    
    .icons{
        background-color: #fff;

    }
    ul{
        
    }
    h2{
        font-size: 3.4rem;
    }
    p{
        font-size: 1.6rem;
        display: flex;
        font-weight: 600;
        align-items: center ;
    }
    i{
        font-size: 2.4rem;
        margin-right: 10px;
        color: var(--accent-color);
    }
    .image{
        height: 100%;
        padding: 0 105px ;
        display: flex;
        align-items: center;
        padding-top: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}