//Colors-Education Studies
$primary-color: #2f207d;
$secondary-color: #00671e;
$accent-color: #47c341;
$nutral-color: #0e70a1;
$base-color:white;

$bg-color-1:#FAFAFA;
$bg-color-2:#ECEFF1;
$bg-color-3: #ffffff;
