//about hero style
.contact-hero-section{
   padding : 50px 0; 
   margin: 0;
   background-color: $nutral-color;
    .contact-hero-content{
      padding-top: 0px; 
      margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
       background-color: $nutral-color;
    }
 }

 //contact iconbox style
 .contact-iconbox-section{
      padding: 30px;
      margin: 70px ;
   .contact-iconbox{
     
      border: 1px solid rgba(0, 0, 0, 0.103);
      padding: 30px;
      i{
         font-size: 25px;
      }
       
     align-items: center;
      }
      a{
         color: black;
         display: flex;
         align-items: center;
         h4{
            display: flex;
            margin: 00;
           
            padding: 0;
            margin-left: 25px;
      }
 }
}

//contact form style
.contact-contact-form-section{
    padding: 50px;
    margin-top: 50px;
    background-color: $secondary-color;
    max-width: 700px;
    color: white;
    h2{
      color: white;
    }
    form{
     label{
        color: white;
        font-weight: 600;
        font-size: 14px;
     }
     .form-text{
        color: $secondary-color;
        font-size: 12px;
        font-weight: 500;
     }
     input{
        padding: 10px;
      
     }
     button{
      background-color: $primary-color;
        color: $base-color;
        border-radius: 0px;
        font-size: 12px;
        padding: 10px 20px;
      border: none;

        &:hover{
         border: none;

       
            background-color: $accent-color;
            border-color: $secondary-color;
        }
     }

    }
}
 
