.faqs{
	padding: 10px;
	padding-bottom: 30px;
	.section-title{
	  
		.text-muted {
			color: #000000 !important;
		}
		.accordion-button {
			font-weight: 500!important;
			text-align: left!important;
			padding-right: 32px!important;
		}
	}
}
button.accordion-button.border-0.bg-white.collapsed {
    font-weight: 500!important;
    text-align: left!important;
    // padding: 20px!important;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.185)!important;
	@media #{$small_mobile}{
		font-size: 16px;
	}
}


button.accordion-button.border-0.bg-white {
    font-weight: 500!important;
    text-align: left!important;
    // padding: 20px!important;
    font-size: 16px;
	outline: none!important;
	@media #{$small_mobile}{
		font-size: 16px;
	}
}

.accordion-body.text-muted.bg-white {
    font-weight: 400!important;
    text-align: left!important;
    font-size: 16px;
	@media #{$small_mobile}{
		font-size: 16px;
	}
}
.accordion-item.rounded.border-0.shadow {
    margin: 10px 0;
}