.popular_program_area{
    // single__programstart__start 
    .single__program{
        // margin-bottom: 100px;
        @media #{$mobile_device} {
            margin-bottom: 50px;
        }
        .program_thumb{
          height: 200px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .program__content{
            background: white;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.02);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.02);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.02); 
            border: 1px solid rgba(0, 0, 0, 0.055);
            &::before{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100px;
                height: 100px;
                background-image: url(../img/program/shape.png);
                content: '';
                z-index: 1;
                background-size: cover;
                background-repeat: no-repeat;
            }
            @media #{$mobile_device} {
                margin-bottom: 30px;
            }
            span{
                display: block;
                font-size: 16px;
                color: #232637;
                font-weight: 400;
            }
            h5{
                 color: #232637;
               
            
                margin-top: 10px;
            }
            p{
                color: #000000;
                 margin-top: 23px;
                margin-bottom: 10px;
            }
            
        }
    }
    // single__programstart__end

    .nav{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        background: #f8fafe;
        // margin-bottom: 80px;
         margin-top: 33px;
        @media #{$mobile_device} {
            margin-bottom: 40px;
        }
        a{
           
            color: #234262;
        
            display: inline-block;
            padding: 8px 22px;
            @media #{$mobile_device} {
                padding:  14px;
            }
            &.active{
                background: #60d3e4;
                color: #fff;
             }
        }
    }
    &.program__page{
        .single__program{
            margin-bottom: 30px;
        }
    }
}