<% let engineeringColleges = collegeDataStore.getCategoryFilteredData("engineering") %>

<% engineeringColleges.forEach(college => { %>
  <div class="recentColleges_collegeView">
    <div class="img-box">
      <img src="<%= college.collegeDetails.logoSrc %>" alt="" >
    </div>
    <p class="semi-bold">
      <%= college.collegeDetails.name %>
    </p>
    <a href="/collegeView/<%= college.collegeCode %>">
      <button>Learn more</button>
    </a>
  </div>
<% }) %>