 
<footer>
  <!-- Your footer content goes here -->
      <!-- footer Section Start -->
      <footer class="footer">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-md-6 col-lg-3">
                <div class="footer_widget">
                  <!-- <h3 class="footer_title">Stay Updated</h3> -->
                  <div class="logo">
                    <img src="/assets/images/LOGO.png" width="70" alt="logo" />
                    <h2>Education Studies</h2>
                  </div>
                  <p>
                    <i class="bi bi-geo-alt-fill"></i>
                    Paradise mall, 5, Baghpat Rd Sabun Godam, <br />
                    Jwala Nagar,Naval Vihar, Meerut, Uttar Pradesh <br />
                    250002
                  </p>
                </div>
                <div class="footer_widget mt-4">
                  <ul>
                    <li>
                      <i class="bi bi-telephone"></i>&nbsp; &nbsp;<a href="#"
                        >+91 8449511111</a
                      >
                    </li>
                    <li>
                      <i class="bi bi-envelope"></i>&nbsp;&nbsp; &nbsp;<a href="#"
                        >educationstudies@gmail.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-xl-3 col-md-6 col-lg-3 pt-5">
                <div class="footer_widget">
                  <h5 class="footer_title">Study</h5>
                  <ul>
                    <li><a href="#">Admissions Policy</a></li>
                    <li><a href="#">Getting Started</a></li>
                    <li><a href="#">Visa Information</a></li>
                    <li><a href="#">Tuition Calculator</a></li>
                    <li><a href="#">Request Information</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-lg-3 pt-5">
                <div class="footer_widget">
                  <h5 class="footer_title">Support</h5>
                  <ul>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">System Requirements</a></li>
                    <li><a href="#">Register Activation Key</a></li>
                    <li><a href="#">Site feedback</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-right_text">
          <div class="container">
            <div class="footer_border"></div>
            <div class="row">
              <div class="col-xl-12">
                <div class="copyright">
                  <p class="text-center">
                    All Rights Reserved &#9400; <a href="">Education Academy</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end  -->
  
</footer>



    <!-- scripts -->
    <!-- jquery -->
    <script src="/js/vendor//jquery-3.7.1.min.js"></script>
    <!-- bootstrap v5.2 -->
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- owl crousel -->
    <script src="/js/vendor/owl.carousel.min.js"></script>
    <!-- isotope -->
    <script src="/js/vendor/isotope.pkgd.min.js"></script>

    <!-- select -->
    <script src="/js/vendor/vselect.min.js"></script>
    <!-- custom js -->
    <script src="/js/script.js"></script>

    <script src="/js/main.js"></script>
</body>
</html>
