 
<footer>
  <!-- Your footer content goes here -->
      <!-- footer Section Start -->
      <footer class="footer">
        <div class="footer_top">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-md-6 col-lg-3">
                <div class="footer_widget">
                  <!-- <h3 class="footer_title">Stay Updated</h3> -->
                  <div class="logo">
                    <img src="/assets/images/LOGO.png" width="70" alt="logo" />
                    <h2>Education Studies</h2>
                  </div>
                  <p>
                    <i class="bi bi-geo-alt-fill"></i>
                   <strong>Head Office :-</strong> Paradise mall, 5, Baghpat Rd Sabun Godam, <br />
                    Jwala Nagar,Naval Vihar, Meerut, Uttar Pradesh <br />
                    250002
                  </p>
                  <p>
                    <i class="bi bi-geo-alt-fill"></i>
                    <strong>Corporate Office :-</strong>  Office No. 306, 3rd Floor, H-140 BSI Building <br> Sector-63,Noida
                  </p>
                </div>
                <div class="footer_widget mt-4">
                  <ul>
                    <li>
                      <i class="bi bi-telephone"></i>&nbsp; &nbsp;<a href="tel: +918449511111"
                        >+91 8449511111</a
                      >
                    </li>
                    <li>
                      <i class="bi bi-envelope"></i>&nbsp;&nbsp; &nbsp;<a href="emailto:educationstudies@gmail.com"
                        >educationstudies@gmail.com</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-xl-3 col-md-6 col-lg-3 pt-5">
                <div class="footer_widget">
                  <h4 class="footer_title">Menu</h4>
                  <ul>
                    <li><a href="/">Home</a></li>
              
                    <li><a href="/counseling">Counseling</a></li>
                    <li><a href="/abroad">Study Aboard</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-lg-3 pt-5">
                <div class="footer_widget">
                  <h4 class="footer_title">Quick Links</h4>
                  <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Term and Conditions</a></li>
                    <li><a href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copy-right_text">
          <div class="container">
            <div class="footer_border"></div>
            <div class="row">
              <div class="col-xl-12">
                <div class="copyright">
                  <p class="text-center">
                    All Rights Reserved &#9400; <a href="/">Education Studies</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer end  -->
  
</footer>



    <!-- scripts -->
<!-- Include jQuery -->
<script src="/js/vendor/jquery-3.7.1.min.js"></script>

<!-- Include DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
 
<!-- Your other scripts -->


<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="/js/vendor/owl.carousel.min.js"></script>
 pt>

    <!-- custom js -->
    <script src="/dist/main.bundle.js"></script>

   