  <!-- forms -->
  <div class="registerForm">
  <div class="container">
     <!-- <div class="logo   ">
        <img   src="/assets/images/LOGO.png" alt="">
     </div> -->
     <form   action="/admin" method="POST" id="addRegisterForm" class="form-validation">
        <div>
           <label for="firstName">Name</label>   
           <input id="firstName" name="firstName" placeholder="Enter First Name" type="text" required>
        </div>
        <div>
           <label for="email">Email</label>  
           <input id="email" name="email" placeholder="Enter Email" type="text" required>
        </div>
        <div >
           <label for="mobileNum">Mobile No</label>   
           <input id="mobileNum" placeholder="Enter Phone" name="mobileNum" type="number" required>
        </div>
        <div >
           <label for="Courses">Courses</label>   
           <input id="Courses" placeholder="Enter Course" name="Courses" type="text" required>
        </div>
        <div >
           <label for="Address">Address</label>   
           <textarea style="width: 100%;" id="Address" placeholder="Enter Address" name="Address" required></textarea>
        </div>
        <div>
           <input type="submit" class="" value="Submit">
        </div>
     </form>
  </div>
</div>


