<%- include('partials/header') %>
<div style="text-align: center; padding: 50px;">
    <h1>404 Not Found</h1>
    <p>Sorry, the page you are looking for might be unavailable or does not exist.</p>
    <!-- You can add more content or customize the error message as needed -->
  </div>

  <%- include('partials/footer') %>