<%- include('partials/header') %>

<section>
     <!-- about hero section start -->
     <section class="container-fluid about-hero-section">
      <div class="container">
          <div class="about-hero-content">
          <h1>About Us</h1>
          <h5>WE HAVE OVER 20 YEARS OF EXPERIENCE</h5>
      </div>
      </div>
  </section>
  <!-- about hero section end -->
  

  <!-- about section start -->
  <section class="container-fluid about-section">
    <div class="container">
      <div class="row ">
          <div class="col-lg-6 col-md-6 ">
              <div class="about-content">
                  <h2>Fueling Your SUCCESS, With Our EXPERT EDUCATIONAL Guidance</h2>
                  <p class="mt-3">Education Studies provides the best expert support and offering hassle free services regarding 
                    admission and scholarship in the most reputed Institutions and universities. We are committed to 
                    highest standard of excellence to get the best study option in India and abroad and work 
                    harmoniously towards achieving success.
                    In the era of global village the degree that is more globally recognized provides more work 
                    opportunity in overseas.</p>
                  <p class="mt-2">Direct admissions in the most reputed Institutions and Universities in India and abroad in Medical (MBBS, BDS, BAMS etc.), Management (MBA, PGDM etc.), Engineering ( B.Tech etc.) stream.</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <img class="img-fluid" src="/assets/images/About/test.jpg" alt="" srcset="">
          </div>
      </div>
    </div>
  </section>

  <!-- why us start -->
  <section class="container-fluid home-whyus-section">
      <div class="container">
          <div class="row ">
              <div class="col-lg-6 col-md-12">
                  <div class="home-whyus-content mt-3">
               
                      <H2>Why choose Education Studies</H2>
                      <P class="mt-2"> <strong>Expert Guidance:</strong> Benefit from seasoned professionals offering comprehensive support tailored to your academic and career goals.
                        </P>
                        <P class="mt-2"> <strong>Global Recognition: </strong>Unlock international opportunities with our focus on globally recognized degrees, enhancing your work prospects abroad.
                          </P>
                          <P class="mt-2"> <strong>Streamlined Admissions: </strong>Access top-tier institutions in India and abroad directly, simplifying the admission process for Medical, Management, and Engineering streams.
                          </P>
                          <P class="mt-2"> <strong>Scholarship Assistance: </strong>Navigate financial challenges with our dedicated support in exploring and securing relevant scholarships.
                          </P>
                          <P class="mt-2"> <strong>Comprehensive Support: </strong>From initial consultation to enrollment, we provide end-to-end assistance, ensuring a smooth journey to academic success.
                          </P>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 home-whyus-boxes mt-3 ">

                  <div class="row ">
                      <div class="col-lg-6 col-md-12">
                          <div class="home-whyus-box">
                              <h3>945</h3>
                              <h5>Work Hours</h5>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="home-whyus-box">
                              <h3>945</h3>
                              <h5>Work Hours</h5>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 col-md-12">
                          <div class="home-whyus-box">
                              <h3>945</h3>
                              <h5>Work Hours</h5>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-12">
                          <div class="home-whyus-box">
                              <h3>945</h3>
                              <h5>Work Hours</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- why us end -->


  <!-- team member section start -->
  <section class="container-fluid about-team-section">
      <div class="container">
          <div class="row">
              <div class="col-12 text-center">
              <h2>Our team members</h2>
               <p>SUSPENDISSE A ANTE IN NEQUE IACULIS LACINIA</p>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                  <div class="about-team-box text-center">
                      <img src="/assets/images/Team/test.jpg" class="img-fluid" alt="">
                      <div class="about-team-content ">
                       <h6>Kunwar Ahlawat</h6>
                        <span>Full Stack</span>  
                        <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. 
                          Aliquam ipsum urna, semper quis.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                  <div class="about-team-box text-center">
                      <img src="/assets/images/Team/test.jpg" class="img-fluid" alt="">
                      <div class="about-team-content ">
                       <h6>Kunwar Ahlawat</h6>
                      <span>Full Stack</span>  
                      <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. 
                          Aliquam ipsum urna, semper quis.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                  <div class="about-team-box text-center">
                      <img src="/assets/images/Team/test.jpg" class="img-fluid" alt="">
                      <div class="about-team-content ">
                       <h6>Kunwar Ahlawat</h6>
                      <span>Full Stack</span>  
                      <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. 
                          Aliquam ipsum urna, semper quis.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mt-4">
                  <div class="about-team-box text-center">
                      <img src="/assets/images/Team/test.jpg" class="img-fluid" alt="">
                      <div class="about-team-content ">
                       <h6>Kunwar Ahlawat</h6>
                      <span>Full Stack</span>  
                      <p>In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. 
                          Aliquam ipsum urna, semper quis.</p>
                      </div>
                  </div>
              </div>

     
          </div>
      </div>
      </div>
  </section>
  <!-- team member section end -->

  
  <!-- Faqs Section Start -->
</section>

<%- include('partials/footer') %>
