<%- include('partials/header') %>
 
<!-- abroad hero start -->
<section class="container-fluid abroad-hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="abroad-hero-content">
                <h2>Unleash Your Potential Globally with Education Studies.</h2>
                <p>Guiding You to Excellence in International Education.</p>
                <button class="btn btn-outline">
                    Get Started
                </button>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- abroad hero end -->

 <!-- abrad intro start -->
 <section class="container-fluid aborad-intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
               <div class="abroad-intro-content">
                <h2>Study Abroad with Education Studies</h2>
                <p>Embark on a transformative educational journey abroad with Education Studies. We believe in providing quality education and expert guidance to help you achieve your career goals. Here's why studying abroad with us is the right choice:</p>
                <ul >
                    <li><i class="bi bi-check2-square"></i>Expert Guidance</li>
                    <li><i class="bi bi-check2-square"></i>Proper documentation</li>
                    <li><i class="bi bi-check2-square"></i>VISA Assistance</li>
                    <li><i class="bi bi-check2-square"></i>Post-Study Opportunities</li>
                    <li><i class="bi bi-check2-square"></i>Road Map to Scholarship</li>
                </ul>
               </div>
            </div>
            <div class="col-md-6">
             <img src="/assets/images/study-abroad-page/intro.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
 </section>

 <!-- mba abroad start -->
 <section class="container-fluid abroad-mba-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="abroad-mba-content ">
                    <h2>MBA Abroad</h2>
                    <p>Elevate your career with an international MBA. Education Studies guides you through the process, ensuring a smooth transition into prestigious global institutions. Here's what you need to know:</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="abroad-mba-item">
                   <h4>Admission Requirements</h4>
                   <p>From GMAT to language proficiency tests (TOEFL, IELTS), we help you navigate the admission process.</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="abroad-mba-item">
                <h4>Cost and Scholarships</h4>
                <p>While the cost is higher, we provide insights into available scholarships for deserving students.</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="abroad-mba-item">
                <h4>Top Destinations</h4>
                <p>Explore MBA opportunities in the UK, USA, Canada, Australia, Germany, and New Zealand.

                </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-secondary">View MBA Colleges</button>
            </div>
        </div>
    </div>
 </section>
  <!-- mba abroad end -->
  
  <!-- b.teh abroad start -->
 <section class="container-fluid abroad-btech-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="abroad-btech-content ">
                    <h2>B.Tech Abroad</h2>
                    <p>For those passionate about engineering, Education Studies facilitates admissions to renowned global institutions. <br>Key details include</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="abroad-btech-item">
                   <h4>Admission Process</h4>
                   <p>Secure your spot by completing 12th grade and qualifying in exams like IELTS, TOEFL, PTE, SAT, or ACT.</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="abroad-btech-item">
                <h4>Preferred Destinations</h4>
                <p>Discover engineering opportunities in countries like the USA, UK, Canada, Australia, and more.</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="abroad-btech-item">
                <h4>Top Destinations</h4>
                <p>Explore MBA opportunities in the UK, USA, Canada, Australia, Germany, and New Zealand.

                </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-secondary">View B.Tech Colleges</button>
            </div>
        </div>
    </div>
 </section>
  <!-- b.tech abroad end -->

  <!-- mbbs abroad start -->
 <section class="container-fluid abroad-mbbs-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="abroad-mbbs-content ">
                    <h2>MBBS Abroad</h2>
                    <p>Aspiring doctors can fulfill their dreams with our guidance on pursuing MBBS abroad.<br> Here's what you need to know</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="abroad-mbbs-item">
                    <h4>Preferred Destinations</h4>
                    <p>Explore countries like Russia, Ukraine, Kazakhstan, China, and more for quality medical education.</p>
               </div>
            </div>
            <div class="col-md-4">
                <div class="abroad-mbbs-item">
                <h4>Entrance Exam</h4>
                <p>NEET is mandatory; we guide you through the process and provide support for exams like FMGE/NEXT.</p>
              </div>
            </div>
            <div class="col-md-4">
                <div class="abroad-mbbs-item">
                <h4>Cost Benefits</h4>
                <p>Obtain an international medical degree at a fraction of the cost, ranging from 15 to 30 lacs.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-secondary">View MBBS Colleges</button>
            </div>
        </div>
    </div>
 </section>
  <!-- mbbs abroad end -->


    <%- include('partials/footer') %>