<%- include('partials/header') %>

<section>
  <!-- contact hero section start -->
  <section class="container-fluid contact-hero-section">
    <div class="container">
        <div class="contact-hero-content">
        <h2>Contact Us</h2>
        <p>WE HAVE OVER 20 YEARS OF EXPERIENCE</p>
    </div>
    </div>
</section>
<!-- contact hero section end -->

<!-- contact icon box section start -->
<section class="container-fluid contact-iconbox-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mt-5">
                <div class="contact-iconbox">
                    <i class="bi bi-telephone-fill"></i>
                    <h4>Phone</h4>
                    <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate nec cursus augue.</p>
                    <a href="tel:8449511111"> 8449511111</a>

                </div>
            </div> 
            <div class="col-lg-4 col-md-12 mt-5">
              <div class="contact-iconbox">
                <i class="bi bi-envelope-fill"></i>
                  <h4>Email</h4>
                  <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate nec cursus augue.</p>
                  <a href="mailto:contact@educationstudies.in">contact@educationstudies.in</a>

              </div>
          </div>
          <div class="col-lg-4 col-md-12 mt-5">
            <div class="contact-iconbox text-start">
              <i class="bi bi-geo-alt-fill"></i>
                <h4>Location</h4>
                <p class="mb-0" ><Strong>Head Office</Strong> - 2nd Floor Paradise Mall, Opp. Kailash Hospital Baghpat Road, Meerut</p>
                <p class="m-0"><Strong>Corporate Office</Strong> - Office No. 306, 3rd Floor, H-140 BSI Building Sector-63,Noida</p>

            </div>
        </div>
        </div>
    </div>
</section>
  <!-- contact icon box section end -->

<!-- contact contact form section start -->
<section class="container-fluid contact-contact-form-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Send us a message</h2>
        <p>SUSPENDISSE A ANTE IN NEQUE IACULIS LACINIA</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
      <form>
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputName" >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputsubject" class="form-label">Subject</label>
          <input type="text" class="form-control" id="exampleInputsubject">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
    </div>
  </div>
</div>
<!-- contact contact form section start -->



</section>

<%- include('partials/footer') %>
