<%- include('partials/header') %>
    <!-- counseling hero section start -->
    <section class="container-fluid counseling-hero-section">
        <div class="Counseling">
            <div class="counseling-hero-content">
                <h2>Counseling</h2>
                <p>WE HAVE OVER 20 YEARS OF EXPERIENCE</p>
            </div>
        </div>
    </section>
    <!-- about hero section end -->

    <!-- counseling section start -->
    <section class="container-fluid counseling-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-12 mt-3 p-5">
                    <h2>How Our Counseling Works</h2>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>1</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Submission of Form</h4>
                            <p>Fill out our counseling form with essential details.</p>
                        </div>
                    </div>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>2</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Personal Consultation</h4>
                            <p>Our counselors will reach out to you for a one-on-one consultation.</p>
                        </div>
                    </div>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>3</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Guidance and Recommendations</h4>
                            <p>Receive personalized guidance and recommendations based on your academic and career
                                goals.</p>
                        </div>
                    </div>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>4</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Follow-Up Support</h4>
                            <p>We stay connected with you throughout the application and admission process, offering
                                ongoing
                                support.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 mt-3 p-5">
         
                    <h2 class="mx-0">What to Expect from Us</h2>
                    <div class="counseling-content-box">
                        <h4>Personalized Guidance</h4>
                        <p> Our expert counselors provide personalized guidance tailored to your academic and career
                            aspirations.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Streamlined Process</h4>
                        <p> We understand that navigating educational choices can be overwhelming. Our counselors
                            streamline the process, ensuring a clear
                            and concise path to your desired educational destination.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Comprehensive Support</h4>
                        <p>From choosing the right program to understanding admission requirements, our counselors offer
                            comprehensive support at
                            every stage of your educational journey.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Career Counseling</h4>
                        <p>We go beyond academic advice to provide insights into potential career paths associated with
                            your chosen field of study.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Flexible Communication</h4>
                        <p>Connect with our counselors through your preferred mode of communication—be it email, phone,
                            or WhatsApp.</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- counseling section start -->

    <!-- Counseling Form Section start -->
    <section class="contianer-fluid counseling-form">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Fill Form for Counseling</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </section>



    <%- include('partials/footer') %>