<%- include('partials/header') %>
<!-- counseling hero section start -->
<section class="container-fluid counseling-hero-section">
  <div class="row">
    <div class="Counseling">
      <div class="counseling-hero-content">
        <h1>Counseling</h1>
        <p>WE HAVE OVER 20 YEARS OF EXPERIENCE</p>
      </div>
    </div>
  </div>
</section>
<!-- about hero section end -->

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="counselingForm">
          <div class="head">
            <h2>Education Studies</h2>
          </div>
          <form action="">
            <h3>Personal Info</h3>
            <!-- first , middle , last name -->
            <div class="row">
              <div class="col-md-4">
                <div class="filedForm">
                  <label for="FirstName">FirstName</label> : <br />
                  <input id="FirstName" type="text" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="MiddleForm">
                  <label for="MiddleForm">MiddleForm</label> :<br />
                  <input id="MiddleForm" type="text" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="LastName">
                  <label for="LastName">LastName :</label> <br />
                  <input id="LastName" type="text" />
                </div>
              </div>
            </div>
 
            <!-- gender and data -->
            <div class="row">
                <div class="col-md-6">
                    <label for="sex">Sex</label> <br>
                    <input name="gender" id="male" type="radio" value="Male">
                    <label for="male">Male</label>

                    <input name="gender" id="Female" type="radio" value="Female">
                    <label for="Female">Female</label>
                </div>

                <div class="col-md-6">
                    <label for="Dob">DOB : </label> <br>
                    <input type="date">
                </div>
            </div>

            <!-- Blood Group and hostel required  -->
            <div class="row">
                <div class="col-md-6">
                    <select id="bloodGroup" name="bloodGroup">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                      </select>
                    
                </div>

                <div class="col-md-6">
                    <label for="">Hostel Required</label> <br>

                    <input id="yes" name="hostel" type="radio">
                    <label for="yes">Yes</label>
                    <input id="no" name="hostel" type="radio">
                    <label for="no">No</label>

                </div>
            </div>
        
            <!-- mobile , parent NO -->

            <div class="row">
                <div class="col-md-6">
                    <label for="mobileNo">Mobile No :   </label> <br>
                    <input id="mobileNo" type="number">
                </div>
                <div class="col-md-6">
                    <label for="parentNo">Parent's No :   </label> <br>
                    <input id="parentNo" type="number">
                </div>
            </div>

            <!-- father and mother name     -->
            <div class="row">
                <div class="col-md-6 ">
                    <label for="fatherName">Father's Name :  </label> <br>
                    <input id="fatherName" type="text">
                </div>

                <div class="col-md-6 ">
                    <label for="motherName">Mother's Name :  </label> <br>
                    <input id="motherName" type="text">
                </div>
            </div>

            <!-- Permanent Address -->
            <div class="row">
                <div class="col">
                    <label for="permanentAddress">Permanent Address</label> <br>
                    <textarea id="permanentAddress" name="permanentAddress" rows="4" cols="50"></textarea>
                </div>
            </div>

            <h3>Local Guardian</h3>
            <!-- local guardian -->
            <div class="row">
                <div class="col-md-6">
                    <label for="guardian">Local Guardian :</label> <br>
                    <input id="guardian" type="text">
                </div>
                <div class="col-md-6">
                    <label for="relationship">Relationship :</label> <br>
                    <input id="relationship" type="text">
                </div>
            </div>
            <!-- guardian mobile number , address -->
            <div class="row">
                <div class="col-md-6">
                    <label for="guardianMobile"> Mobile :</label> <br>
                    <input id="guardianMobile" type="text">
                </div>
                <div class="col-md-6">
                    <label for="guardianAddress">Address :</label> <br>
                    <input id="guardianAddress" type="text">
                </div>
            </div>

            <h3>Academic Profile</h3>

            <!-- program applied for  -->
            <div class="row">
                <div class="col">
                    <label for="programApplied">Program Applied For :</label> <br>
                    <textarea id="programApplied" name="programApplied" rows="1" cols="50"></textarea>
                </div>

                <div class="col">
                    <label for="entranceApplied">Entrance Exam Date :</label> <br>
                    <input id="entranceApplied" type="date">
                </div>
                <div class="col">
                    <label for="subjectApplied">Subject Applied For :</label> <br>
                    <input id="subjectApplied" type="text">
                </div>

                <div class="col">
                    <label for="reference">Reference :</label> <br>
                    <input id="reference" type="text">
                </div>
            </div>


            <!-- date and sign  -->

            <div class="row">
                <div class="col-md-6">
                    <label for="submitDate">Date :</label> <br>
                    <input id="submitDate" type="date">
                </div>
                <div class="col-md-6">
                    <label for="studentSign">Student Signature :</label> <br>
                    <input id="studentSign" type="file">
                </div>
            </div>

            <!-- declaration -->
            <div class="row">
                <div class="col-12">
                    <input type="checkbox">
                     <p class="semibold"><strong>Deceleration:</strong> By submitting this form, I declare that the provided information is accurate and has been provided by me.</p>

                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col-12">
                    <button>submit</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  
    <section class="container-fluid counseling-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-12 mt-3 p-5">
                    <h2>How Our Counseling Works</h2>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>1</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Submission of Form</h4>
                            <p>Fill out our counseling form with essential details.</p>
                        </div>
                    </div>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>2</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Personal Consultation</h4>
                            <p>Our counselors will reach out to you for a one-on-one consultation.</p>
                        </div>
                    </div>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>3</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Guidance and Recommendations</h4>
                            <p>Receive personalized guidance and recommendations based on your academic and career
                                goals.</p>
                        </div>
                    </div>
                    <div class="counseling-work-box">
                        <div class="counseling-no-box">
                            <span>4</span>
                        </div>
                        <div class="counseling-work-content">
                            <h4>Follow-Up Support</h4>
                            <p>We stay connected with you throughout the application and admission process, offering
                                ongoing
                                support.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-12 mt-3 p-5">
         
                    <h2 class="mx-0">What to Expect from Us</h2>
                    <div class="counseling-content-box">
                        <h4>Personalized Guidance</h4>
                        <p> Our expert counselors provide personalized guidance tailored to your academic and career
                            aspirations.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Streamlined Process</h4>
                        <p> We understand that navigating educational choices can be overwhelming. Our counselors
                            streamline the process, ensuring a clear
                            and concise path to your desired educational destination.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Comprehensive Support</h4>
                        <p>From choosing the right program to understanding admission requirements, our counselors offer
                            comprehensive support at
                            every stage of your educational journey.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Career Counseling</h4>
                        <p>We go beyond academic advice to provide insights into potential career paths associated with
                            your chosen field of study.</p>
                    </div>
                    <div class="counseling-content-box">
                        <h4>Flexible Communication</h4>
                        <p>Connect with our counselors through your preferred mode of communication—be it email, phone,
                            or WhatsApp.</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
   

   
    <section class="contianer-fluid counseling-form">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Fill Form for Counseling</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </section>
 -->

<%- include('partials/footer') %>
