<%- include('partials/header') %>

<!-- Your specific page content goes here -->
<div class="container-fluid">
    <!-- desktop viw -->
    <div class="row d-none d-md-block">
      <div class="col m-0 p-0">
        <div id="desktopView ">
     
          <div class="heroSection">
            <div class="container-fluid hero">
            </div>
          </div>
          <div class="heroSection1">
           <!-- middle content -->
         
           <div class="Banner  ">
         
            <div class="container-fluid">
              <div class="row">
                <div class="col">
          
  
                  <!-- crousel start  -->
                  <div id="carouselExampleIndicators" class="carousel slide"   data-bs-interval="2000" data-bs-wrap="true" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="img-fluid " src="https://images.collegedunia.com/public/asset/img/homepage/banner/Shri1642233244.webp?mode=stretch" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img  class="img-fluid "src="https://images.collegedunia.com/public/asset/img/homepage/banner/Indian1642232499.webp?mode=stretch" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid "  src="https://images.collegedunia.com/public/asset/img/homepage/banner/Indian1642232971.webp?mode=stretch" class="d-block w-100" alt="...">
                      </div>
                    </div>
               
                  </div>
                  <!-- crousel end  -->

                  <!-- middle content -->
                  <div class="middleContent">
                    
                    <div class="upperHead">
             
                    </div>
                    <div class="mainHead">
                      Unlock <br> Your Potential with <br>  <span>EDUCATION STUDIES</span>

                    </div>
                    <div class="subHead">
                      Education Studies is dedicated to guiding you on your educational journey with expert support and services. Our commitment to excellence ensures you access the best study options, both in India and abroad. We strive for success by providing seamless admission processes and facilitating scholarship opportunities.

        
     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
       </div>

      
          <!-- Stat Section Start -->
          <!-- service_area_start(College Section header Start)  -->
          <div class="service_area gray_bg">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                  <div class="single_service d-flex align-items-center">
                    <div class="icon">
                      <i class="bi bi-bookmark-check"></i>
                    </div>
                    <div class="service_info">
                      <h4>500+</h4>
                      <p>Applications filled</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single_service d-flex align-items-center">
                    <div class="icon">
                      <i class="bi bi-bookmark-check"></i>
                    </div>
                    <div class="service_info">
                      <h4>1,000+</h4>
                      <p>Admissions done</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single_service d-flex align-items-center">
                    <div class="icon">
                      <i class="bi bi-bookmark-check"></i>
                    </div>
                    <div class="service_info">
                      <h4>1500+</h4>
                      <p>Expert Counsellors</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ service_area_start(College Section Header End)  -->
          
          <!-- College Section Start -->
          <div
            class="popular_program_area section__padding  popular_program_area1"
          >
            <div class="container ">
              <div class="row mb-3">
                <div class="col-md-6 text-center d-flex align-items-center   ">
                  <div class="section_title text-center">
                    <h2 class="bold">Our Featured Colleges</h2>
                  </div>
                </div>
                <div class="col-md-6">
                  <nav class="custom_tabs text-end ">
                    <div class="nav nav-tabs" id="myTab" role="tablist">
                      <a
                        class="nav-item active"
                        role="presentation"
                        id="all-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#all"
                        type="button"
                        role="tab"
                        aria-controls="all"
                        aria-selected="true"
                        >All</a
                      >
      
                      <a
                        class="nav-item"
                        role="presentation"
                        id="engineering-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#engineering"
                        type="button"
                        role="tab"
                        aria-controls="engineering"
                        aria-selected="false"
                        >Engineering</a
                      >
      
                      <a
                        class="nav-item"
                        role="presentation"
                        id="mangement-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#mangement"
                        type="button"
                        role="tab"
                        aria-controls="mangement"
                        aria-selected="false"
                        >Management</a
                      >
      
                      <a
                        class="nav-item"
                        role="presentation"
                        id="medical-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#medical"
                        type="button"
                        role="tab"
                        aria-controls="medical"
                        aria-selected="false"
                        >Medical</a
                      >
                    </div>
                  </nav>
                </div>
              </div>
      
              <!-- Tab panes -->
              <div class="tab-content border p-4">
                <!-- All -->
                <div
                  class="tab-pane active"
                  id="all"
                  role="tabpanel"
                  aria-labelledby="all-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/miet-thumb.webp" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">
                            Meerut Institute of Engineering and Technology
                          </h4>
                          <p class="light">
                            Meerut Institute of Engineering & Technology (MIET) is a
                            prestigious institution Meerut offers a quality education
                            at a higher level.
                          </p>
      
                          <button><a href="/CollegesList">LERAN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img
                            src="./assets/images/College/dewan-thumb.jpeg"
                            alt=""
                          />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Engineering</h2>
                          <h4 class="semi-bold">
                            Dewan VS Group of Institutions India
                          </h4>
                          <p class="light">
                            Dewan V.S Group of Institutions is a Private college
                            established in year 1996. The college is located in
                            Meerut, Uttar Pradesh.
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/iimt-thumb.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">IIMT Meerut</h4>
                          <p class="light">
                            IIMT University (IIMTU), Meerut is a private university
                            established in 2016. This university offers undergraduate,
                            postgraduate and doctoral programmes
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- Engineering -->
                <div
                  class="tab-pane"
                  id="engineering"
                  role="tabpanel"
                  aria-labelledby="engineering"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/miet-thumb.webp" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">
                            Meerut Institute of Engineering and Technology
                          </h4>
                          <p class="light">
                            Meerut Institute of Engineering & Technology (MIET) is a
                            prestigious institution Meerut offers a quality education
                            at a higher level.
                          </p>
      
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/dewan-thumb.jpeg" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Engineering</h2>
                          <h4 class="semi-bold">
                            Dewan VS Group of Institutions India
                          </h4>
                          <p class="light">
                            Dewan V.S Group of Institutions is a Private college
                            established in year 1996. The college is located in
                            Meerut, Uttar Pradesh.
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/iimt-thumb.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">IIMT Meerut</h4>
                          <p class="light">
                            IIMT University (IIMTU), Meerut is a private university
                            established in 2016. This university offers undergraduate,
                            postgraduate and doctoral programmes
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- Management -->
                <div
                  class="tab-pane"
                  id="mangement"
                  role="tabpanel"
                  aria-labelledby="mangement-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/iimt-thumb.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">IIMT Meerut</h4>
                          <p class="light">
                            IIMT University (IIMTU), Meerut is a private university
                            established in 2016. This university offers undergraduate,
                            postgraduate and doctoral programmes
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img
                            src="assets/images/College/mharishi-thumb.jpeg"
                            alt=""
                          />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">
                            Maharishi University of Information Technology
                          </h4>
                          <p class="light">
                            Maharishi University of Information Technology, Noida was
                            established in 2001. The university has been recognised by
                            the UGC and AICTE.
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="assets/images/College/apim-thumb.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">
                            Asia-Pacific Institute of Management, New Delhi
                          </h4>
                          <p class="light">
                            Established in 1996, the Asia-Pacific Institute of
                            Management is one of the premier management institutes
                            located in Jasola Vihar, New Delhi.
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- Medical -->
                <div
                  class="tab-pane"
                  id="medical"
                  role="tabpanel"
                  aria-labelledby="medical-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/2.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/1.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/3.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- College Section Start -->
      
        <!-- courses Section Start -->
          <div
            class="popular_program_area section__padding   popular_program_area1"
          >
            <div class="container">
              <div class="row mb-4">
                <div class="col-md-6 text-center  d-flex align-items-center ">
                  <div class="section_title text-center">
                    <h2 class="bold">Popular Courses</h2>
                  </div>
                </div>
                <div class="col-md-6">
                  <nav class="custom_tabs text-end ">
                    <div class="nav nav-tabs" id="myTab" role="tablist">
                      <a
                        class="nav-item active"
                        role="presentation"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#home"
                        type="button"
                        role="tab"
                        aria-controls="home"
                        aria-selected="true"
                        >All</a
                      >
      
                      <a
                        class="nav-item"
                        role="presentation"
                        id="profile-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#profile"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                        >Engineering</a
                      >
      
                      <a
                        class="nav-item"
                        role="presentation"
                        id="messages-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#messages"
                        type="button"
                        role="tab"
                        aria-controls="messages"
                        aria-selected="false"
                        >Management</a
                      >
      
                      <a
                        class="nav-item"
                        role="presentation"
                        id="settings-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#settings"
                        type="button"
                        role="tab"
                        aria-controls="settings"
                        aria-selected="false"
                        >Medical</a
                      >
                    </div>
                  </nav>
                </div>
              </div>
      
              <!-- Tab panes -->
              <div class="tab-content border p-4">
                <div
                  class="tab-pane active"
                  id="home"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img
                            src="./assets/images/managment-removebg-preview.png"
                            alt=""
                          />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">Mangement Courses 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img
                            src="./assets/images/enginner-removebg-preview.png"
                            alt=""
                          />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Engineering</h2>
                          <h4 class="semi-bold">Engineering Courses 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img
                            src="./assets/images/medical-removebg-preview.png"
                            alt=""
                          />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical Courses 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/1.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Engineering</h2>
                          <h4 class="semi-bold">Engineering Courses 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img
                            src="./assets/images/medical-removebg-preview.png"
                            alt=""
                          />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Engineering</h2>
                          <h4 class="semi-bold">Engineering Courses 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/2.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Engineering</h2>
                          <h4 class="semi-bold">Engineering Courses 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  id="messages"
                  role="tabpanel"
                  aria-labelledby="messages-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/3.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">Mangement College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/2.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">Mangement College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/1.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Management</h2>
                          <h4 class="semi-bold">Mangement College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  id="settings"
                  role="tabpanel"
                  aria-labelledby="settings-tab"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/2.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/1.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single__program">
                        <div class="program_thumb">
                          <img src="img/program/3.png" alt="" />
                        </div>
                        <div class="program__content">
                          <h2 class="bold">Medical</h2>
                          <h4 class="semi-bold">Medical College 1</h4>
                          <p class="light">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut
                          </p>
                          <button><a href="/collegeslist">LEARN MORE</a></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
       <!-- courses Section Start -->
       
   
          <!-- study abroad section -->
          <section>
            <!-- recent_event_area_strat(Admission Section Start)  -->
            <div class="container about my-5">
              <div class="row align-items-start h-100">
                <div class="col-lg-5 col-md-6">
                  <img
                    src="./assets/images/about02.jpg"
                    class="img-fluid rounded shadow"
                    alt=""
                  />
                </div>
                <!--end col-->
      
                <div class="col-lg-7 col-md-6">
                  <div class="section-title ms-lg-5 my-5 my-md-0">
                    <h2 class="bold mb-3">Study Abroad</h2>
                    <hr />
                    <p class="light">
                      In the era of the global village, obtaining a degree that holds
                      international recognition opens doors to diverse career
                      opportunities worldwide. Education Studies is your trusted
                      partner in providing hassle-free services for admissions and
                      scholarships in the most reputed institutions and universities
                      abroad.
                    </p>
                    <p class="light">
                      Explore direct admissions in renowned institutions and
                      universities globally across various streams:
                    </p>
                    <div class="row my-3">
                      <div class="col">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col"><p class="semi-bold">Medical</p></th>
                              <th scope="col"><p class="semi-bold">Managment</p></th>
                              <th scope="col">
                                <p class="semi-bold">Engineering</p>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><p class="light">MBBS</p></td>
                              <td><p class="light">BDS</p></td>
                              <td><p class="light">BAMS</p></td>
                            </tr>
                            <tr>
                              <td><p class="light">MBA</p></td>
                              <td><p class="light">PGDM</p></td>
                              <td><p class="light">N/A</p></td>
                            </tr>
                            <tr>
                              <td><p class="light">B.Tech</p></td>
                              <td><p class="light">M.Tech</p></td>
                              <td><p class="light">N/A</p></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- <div class="row my-5">
                      <div class="col-lg-12 col-12">
                        <ul class="mb-0 list-unstyled">
                          <li class="mb-0">
                            <span class="   me-2"><i class="uil uil-check-circle align-middle"></i></span>
                            <strong>Medical:</strong> MBBS, BDS, BAMS, etc.
                          </li>
                          <li class="mb-0">
                            <span class="   me-2"><i class="uil uil-check-circle align-middle"></i></span>
                            <strong>Management:</strong> MBA, PGDM, etc
                          </li>
                          <li class="mb-0">
                            <span class="   me-2"><i class="uil uil-check-circle align-middle"></i></span>
                            <strong>Engineering:</strong> B.Tech, etc
                          </li>
                        </ul>
                      </div>
                      <!--end col-->
                    <!-- </div> -->
                    <!--end row-->
      
                    <div class="buttonAbout">
                      <button>READ MORE</button>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!-- recent_event_area_end(Admission Section End)  -->
          </section>
      
          <!-- admission section -->
          <section
            class="Addsection bg-light py-5"
          
          >
            <div class="container">
              <div class="row align-items-center">
                <div class="col-12">
                  <div class="me-lg-5">
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div
                          class="section-title text-center text-md-start mb-4 pb-2"
                        >
                          <h2 class="bold mb-4">Admission Process</h2>
                          <p class="regular">
                            Explore and learn more about everything from machine
                            learning and global payments to scaling your team.
                          </p>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
      
                    <div class="row">
                      <div class="col-md-6  p-2 ">
                        <div class="features feature-primary rounded  p-3 d-flex">
                          <i class="bi bi-1-circle-fill"></i>
      
                          <div class="content flex-1 ms-3">
                            <h4 class="bold">Consultation and Goal Alignment</h4>
                            <p class="light">
                              Start with a personalized consultation to understand
                              your academic goals, whether for domestic or
                              international studies. Our experts tailor guidance based
                              on your aspirations.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!--end col-->
      
                      <div class="col-md-6  p-2 ">
                        <div class="features feature-primary rounded  p-3 d-flex">
                          <i class="bi bi-2-circle-fill"></i>
      
                          <div class="content flex-1 ms-3">
                            <h4 class="bold">Unified Application Support</h4>
                            <p class="light">
                              Receive comprehensive assistance in preparing and
                              submitting applications, whether for institutions within
                              the country or abroad. We ensure accuracy and
                              completeness for a seamless admission process.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!--end col-->
      
                      <div class="col-md-6  p-2 ">
                        <div class="features feature-primary rounded  p-3 d-flex">
                          <i class="bi bi-3-circle-fill"></i>
      
                          <div class="content flex-1 ms-3">
                            <h4 class="bold">Effortless Documentation Management</h4>
                            <p class="light">
                              Navigate documentation effortlessly, adhering to
                              standards for both domestic and international
                              applications. Benefit from our zero-processing-fee
                              policy as we handle paperwork meticulously.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!--end col-->
                      <div class="col-md-6  p-2 ">
                        <div class="features feature-primary rounded  p-3 d-flex">
                          <i class="bi bi-4-circle-fill"></i>
      
                          <div class="content flex-1 ms-3">
                            <h4 class="bold">Success-oriented Guidance</h4>
                            <p class="light">
                              Once admitted, receive ongoing support for a successful
                              academic journey. Our experts provide insights and
                              strategies to ensure your success in your chosen field
                              of study.
                            </p>
                          </div>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end col-->
      
                <!-- <div class="col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                  <div class="img-fluid-responsive position-relative">
                    <img src="./assets/images/pngwing.com.png" class="mx-auto d-block" alt="">
                  </div>
                </div> -->
                <!--end col-->
              </div>
              <!--end row-->
            </div>
          </section>
          <!-- Call To Action -->
          <section class="cta">
            <div
              class="cta-inner overlay section"
              style="background-image: url('./assets/images/banner.png')"
              data-stellar-background-ratio="0.5"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-12">
                    <div class="text-content">
                      <h2 class="bold">We Focus on Brands, Products & Campaigns</h2>
                      <p class="regular">
                        facilisis ultricies tortor, nec sollicitudin lorem sagittis
                        vitae. Curabitur rhoncus commodo rutrum. Pellentesque habitant
                        morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Aliquam nec lacus pulvinar, laoreet dolor quis,
                        pellentesque ante. Cras nulla orci, pharetra at dictum
                        consequat, pretium pretium nulla
                      </p>
                      <!-- CTA Button -->
                      <div class="button">
                        <button>Join Now</button>
                        >
                      </div>
                      <!--/ End CTA Button -->
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                    <!-- Cta Image -->
      
                    <!--/ End Cta Image -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--/ End Call To Action -->
      
          <!-- testimonial  -->
          <section>
            <div class="testimonial text-center">
              <h2 class=" semi-bold my-3">TESTIMONIALS</h2>
              <h2 class="bold">What People Say About Us !</h2>
      
              <div class="owl-carousel owl-theme">
                <div class="item shadow">
                  <div class="innerTes ">
                    <div class="rating">
                      <span>4.5/5</span>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="testimonial-text">
                      "Success is not final, failure is not fatal: It is the courage
                      to continue that counts."
                    </p>
                    <div class="testimonial-author">
                      <div class="avatarImg rounded-circle">
                        <img
                          src="img/testmonial/2.png"
                          alt="Testimonial Author"
                          class="testimonial-author-img"
                        />
                      </div>
                      <div class="intro">
                        <span class="testimonial-author-name">Eleanor Roosevelt</span>
                        <span class="testimonial-author-position">Seo WebDev</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item shadow">
                  <div class="innerTes ">
                    <div class="rating">
                      <span>4.5/5</span>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="testimonial-text">
                      "Success is not final, failure is not fatal: It is the courage
                      to continue that counts."
                    </p>
                    <div class="testimonial-author">
                      <div class="avatarImg rounded-circle">
                        <img
                          src="img/testmonial/2.png"
                          alt="Testimonial Author"
                          class="testimonial-author-img"
                        />
                      </div>
                      <div class="intro">
                        <span class="testimonial-author-name">Eleanor Roosevelt</span>
                        <span class="testimonial-author-position">Seo WebDev</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item shadow">
                  <div class="innerTes ">
                    <div class="rating">
                      <span>4.5/5</span>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="testimonial-text">
                      "Success is not final, failure is not fatal: It is the courage
                      to continue that counts."
                    </p>
                    <div class="testimonial-author">
                      <div class="avatarImg rounded-circle">
                        <img
                          src="img/testmonial/2.png"
                          alt="Testimonial Author"
                          class="testimonial-author-img"
                        />
                      </div>
                      <div class="intro">
                        <span class="testimonial-author-name">Eleanor Roosevelt</span>
                        <span class="testimonial-author-position">Seo WebDev</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item shadow">
                  <div class="innerTes ">
                    <div class="rating">
                      <span>4.5/5</span>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="testimonial-text">
                      "Success is not final, failure is not fatal: It is the courage
                      to continue that counts."
                    </p>
                    <div class="testimonial-author">
                      <div class="avatarImg rounded-circle">
                        <img
                          src="img/testmonial/2.png"
                          alt="Testimonial Author"
                          class="testimonial-author-img"
                        />
                      </div>
                      <div class="intro">
                        <span class="testimonial-author-name">Eleanor Roosevelt</span>
                        <span class="testimonial-author-position">Seo WebDev</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item shadow">
                  <div class="innerTes ">
                    <div class="rating">
                      <span>4.5/5</span>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="testimonial-text">
                      "Success is not final, failure is not fatal: It is the courage
                      to continue that counts."
                    </p>
                    <div class="testimonial-author">
                      <div class="avatarImg rounded-circle">
                        <img
                          src="img/testmonial/2.png"
                          alt="Testimonial Author"
                          class="testimonial-author-img"
                        />
                      </div>
                      <div class="intro">
                        <span class="testimonial-author-name">Eleanor Roosevelt</span>
                        <span class="testimonial-author-position">Seo WebDev</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Faqs Section Start -->
      
          <!-- FAQ Container Start -->
          <div class="container mt-100 mt-60 faqs">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="section-title mb-4 pb-2 text-center">
                  <h2 class="bold mb-3">Frequently Asked Questions</h2>
                  <p class="semi-bold">
                    Our design projects are fresh and simple and will benefit your
                    business greatly. Learn more about our work!
                  </p>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
      
            <div class="row justify-content-center">
              <div class="col-lg-10 mt-4 pt-2">
                <div class="accordion" id="buyingquestion">
                  <div class="row">
                    <div class="col">
                      <div class="accordion-item rounded border-0 shadow">
                        <h2 class="accordion-header" id="headingOne">
                          <button
                            class="accordion-button border-0 bg-white collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="false"
                            aria-controls="collapseOne"
                          >
                            How does it work ?
                          </button>
                        </h2>
                        <div
                          id="collapseOne"
                          class="accordion-collapse border-0 collapse"
                          aria-labelledby="headingOne"
                          data-bs-parent="#buyingquestion"
                       
                        >
                          <div class="accordion-body text-muted bg-white">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in
                            some form.
                          </div>
                        </div>
                      </div>
      
                      <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingTwo">
                          <button
                            class="accordion-button border-0 bg-white collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                          >
                            Do I need a designer to use Starty ?
                          </button>
                        </h2>
                        <div
                          id="collapseTwo"
                          class="accordion-collapse border-0 collapse"
                          aria-labelledby="headingTwo"
                          data-bs-parent="#buyingquestion"
                        
                        >
                          <div class="accordion-body text-muted bg-white">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in
                            some form.
                          </div>
                        </div>
                      </div>
      
                      <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingThree">
                          <button
                            class="accordion-button border-0 bg-white"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseThree"
                            aria-expanded="true"
                            aria-controls="collapseThree"
                          >
                            What do I need to do to start selling ?
                          </button>
                        </h2>
                        <div
                          id="collapseThree"
                          class="accordion-collapse border-0 collapse show"
                          aria-labelledby="headingThree"
                          data-bs-parent="#buyingquestion"
                        
                        >
                          <div class="accordion-body text-muted bg-white">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in
                            some form.
                          </div>
                        </div>
                      </div>
      
                   
                      <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingsix">
                          <button
                            class="accordion-button border-0 bg-white collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsesix"
                            aria-expanded="false"
                            aria-controls="collapsesix"
                          >
                            How is management perceived at CMR?
                          </button>
                        </h2>
                        <div
                          id="collapsesix"
                          class="accordion-collapse border-0 collapse"
                          aria-labelledby="headingsix"
                          data-bs-parent="#buyingquestion"
                        >
                          <div class="accordion-body text-muted bg-white">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in
                            some form.
                          </div>
                        </div>
                      </div>
      
                      <div class="accordion-item rounded border-0 shadow mt-3">
                        <h2 class="accordion-header" id="headingseven">
                          <button
                            class="accordion-button border-0 bg-white collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseseven"
                            aria-expanded="false"
                            aria-controls="collapseseven"
                          >
                            How is the work/life balance at CMR?
                          </button>
                        </h2>
                        <div
                          id="collapseseven"
                          class="accordion-collapse border-0 collapse"
                          aria-labelledby="headingseven"
                          data-bs-parent="#buyingquestion"
                        >
                          <div class="accordion-body text-muted bg-white">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in
                            some form.
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
                <!--end -->
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--FAQ Container End-->
       
      
        </div>
    
      </div>
    </div>

    <!-- mobile view -->
    <div class="row d-block d-md-none">
       
        <div id="mobileView ">
         
    <div class="innerContent">
         <!-- Banner  -->
    
         <div class="Banner  ">
         
          <div class="container-fluid">
            <div class="row">
              <div class="col">
        

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="./assets/images/banner/Indian1642232499.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./assets/images/banner/Indian1642232971.webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="./assets/images/banner/Shri1642233244.webp" class="d-block w-100" alt="...">
                    </div>
                  </div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
    
      <!--  colleges -->
        <div class="colleges">
          <div class="container-fluid">
            <div class="row">
              <div class="col mx-3 mt-5 ">
                <h6 class="bold">Colleges By Categories</h6>
              </div>
             
            </div>
            <div class="row my-4 ">
             
              <div class="col-4 ">
                   <div class="collegesCat shadow ">
                   <a href="#"> <img src="./assets/images/engineers.png" alt="">
                     <p class="bold">Engineering</p></a>
                  </div>
              </div>
              <div class="col-4">
                <div class="collegesCat shadow">
                <a href="#"> <img src="./assets/images/medical-history.png" alt="">
                  <p class="bold">Medical</p></a>
               </div>
           </div>
           <div class="col-4">
            <div class="collegesCat shadow">
            <a href="#"> <img src="./assets/images/project-manager.png" alt="">
              <p class="bold">Management</p></a>
           </div>
       </div>
       
             </div>
          </div>
        </div>
        <!--  courses -->
        <div class="colleges">
          <div class="container-fluid">
            <div class="row">
              <div class="col mx-3 mt-0 ">
                <h6 class="bold">Coureses By Categories</h6>
              </div>
             
            </div>
            <div class="row my-4 ">
             
              <div class="col-4 ">
                   <div class="collegesCat shadow ">
                   <a href="#"> <img src="./assets/images/engineers.png" alt="">
                     <p class="bold">Engineering</p></a>
                  </div>
              </div>
              <div class="col-4">
                <div class="collegesCat shadow">
                <a href="#"> <img src="./assets/images/medical-history.png" alt="">
                  <p class="bold">Medical</p></a>
               </div>
           </div>
           <div class="col-4">
            <div class="collegesCat shadow">
            <a href="#"> <img src="./assets/images/project-manager.png" alt="">
              <p class="bold">Management</p></a>
           </div>
       </div>
       
             </div>
          </div>
        </div>
      

        <!-- top colleges list -->
        <div class="recentCollegList">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8   mt-4 ">
                <h6 class="bold">Top Colleges</h6>
              </div>
              <div class="col-4   mt-4 text-end  ">
                <p class="bold"><a href="./CollegeMobiList">See All</a></p>
              </div>
            </div>
            <div class="row">
              
              <div class="col">
                <div class="recentColleges">
                  <div class="recentColleges_collegeView">
                    <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                    <p class="semi-bold">
                      Dewan VS Group of Institutions India
                    </p>
                   
                    <button>Learn more</button>
                  </div>
                  <div class="recentColleges_collegeView">
                    <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                    <p class="semi-bold">
                      Dewan VS Group of Institutions India
                    </p>
                   
                    <button>Learn more</button>
                  </div>
                  <div class="recentColleges_collegeView">
                    <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                    <p class="semi-bold">
                      Dewan VS Group of Institutions India
                    </p>
                   
                    <button>Learn more</button>
                  </div>
                  <div class="recentColleges_collegeView">
                    <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                    <p class="semi-bold">
                      Dewan VS Group of Institutions India
                    </p>
                   
                    <button>Learn more</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
            <!-- top colleges list -->
            <div class="recentCollegList">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-8   mt-4 ">
                    <h6 class="bold">Featured Colleges</h6>
                  </div>
                  <div class="col-4  mt-4 text-end  ">
                    <p class="bold">See All</p>
                  </div>
                </div>
                <div class="row">
                  
                  <div class="col">
                    <div class="recentColleges">
                      <div class="recentColleges_collegeView">
                        <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                        <p class="semi-bold">
                          Dewan VS Group of Institutions India
                        </p>
                       
                        <button>Learn more</button>
                      </div>
                      <div class="recentColleges_collegeView">
                        <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                        <p class="semi-bold">
                          Dewan VS Group of Institutions India
                        </p>
                       
                        <button>Learn more</button>
                      </div>

                      <div class="recentColleges_collegeView">
                        <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                        <p class="semi-bold">
                          Dewan VS Group of Institutions India
                        </p>
                       
                        <button>Learn more</button>
                      </div>
                      <div class="recentColleges_collegeView">
                        <img src="./assets/images/College/dewan-thumb.jpeg" alt="">
                        <p class="semi-bold">
                          Dewan VS Group of Institutions India
                        </p>
                       
                        <button>Learn more</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- study Abroad -->
        <div class="studyAbroad">
              <div class="cotainer-fluid">
                <div class="row mx-3 ">
                  <div class="col">
                    <div class="studyAbroad_card">
                        <h5>Study Abroad With US</h5>
                        <p class="light">Unlocking Global Opportunities: Your Path to International Education with US Study Abroad</p>
                        <button>Read More</button>
                    </div iv>
                  </div>
                </div>
              </div>
            </div>
    </div>
    
    

    </div>
  </div>
     
    </div>
  </div>


<%- include('partials/footer') %>
